:root{
    --light-color : #F5F5F5;
    --purple-color : #A662FF;
    --dark : #261646;
}

.wrapper {
    max-width: 607px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}